main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container {
    width: 107%;
    height: 39rem;
    background-color: #f9f7e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 29px;
}

.text {
    display: flex;
    width: 20rem;
    height: 21rem;
    background-color:#f9f7e5;
    flex-direction: column;
    justify-content: space-evenly;
    color: #55280f;
}

p {
    margin-top: -4px;
    font-size: 19px;
}

h3 {
    font-size: 1.3em;
}
img {
    width: 323px;
    margin-bottom: 22px;
}


@media screen and (min-width: 630px){
    .container {
        width: 87%;
        display: flex;
        border-radius: 29px;
        background-color: #f9f7e5;
        margin: 2px auto;
        padding: 10px;
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
        height: 15rem;
    }
}
.text {
    display: flex;
    width: 20rem;
    height: 15rem;
    background-color: #f9f7e5;
    flex-direction: column;
    color: #55280f;
    margin: 0px;
    margin-left: 10px;
    justify-content: flex-start;
}

p {
    font-size: 12px

}
img {
    margin: 0px;
    width: 320px;
}

h3 {
    font-size:  1em;
}