.containerBee {
    width: 300px;
    height: 400px;
    background-color: #ffff042e;
    display: flex;
    flex-direction: column;
    border-radius: 75px;
}

img {
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    align-items: center;
    color: #55280f;
}

button {
    width: 7rem;
    height: 2rem;
    background-color: #ecdf91;
    color: #55280f;
    border: 0px solid;
    border-radius: 20px;
    font-weight: 600;
}

span {
    font-weight: 300;
}